.content {
    margin-left: 35%;
    width: 65%;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #f1f1f1;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 35%;
    background-color: #83aae5;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar-contact {
    position: fixed;
    bottom: 2.5%;
    width: 35%;
    text-align: center;
}

.a {
    font-family: Verdana, sans-serif;
}

/* Sidebar links */
.sidebar a.name-menu {
    display: block;
    color: #555555;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 55px;
    font-weight: bold;
}

.sidebar a.menu {
    display: block;
    color: #555555;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.sidebar a.icon {
    color: #1e4072;
    font-size: 60px;
    margin: 10px;
}

.sidebar a.icon:hover:not(.active) {
    color: #555555;
}

/* Active/current link */
.sidebar a.menu.active {
    color: #1e4072;
    font-weight: bold;
}

.sidebar a.name-menu.active {
    color: #1e4072;
}

/* Links on mouse-over */
.sidebar a.menu:hover:not(.active) {
    color: #1e4072;
}

.sidebar a.name-menu:hover:not(.active) {
    color: #1e4072;
}